<footer class="footer_component-bg">
      <div class="padding-global">
        <div class="container-large">
          <div class="padding-section-small">
            <div class="footer_flex-wrapper">
              <div class="footer_left">
                <p>{{ texts.-45e60739 }}</p>
                <a href="{{ links.2646baa }}" target="_blank" class="dropd-link">{{ texts.3f3bf15 }}</a>
              </div>
              <div class="footer_right">
                <div data-w-id="f46266c7-0be4-55cd-4721-7414e8efa599" class="footer_link-wrapper">
                  <a href="{{ links.21dd6bd3 }}" target="_blank" class="text-style-allcaps">{{ texts.3f0537c }}</a>
                  <div class="footer_link-decoration"></div>
                  <div class="footer_link-blur"></div>
                </div>
                <div data-w-id="f46266c7-0be4-55cd-4721-7414e8efa599" class="footer_link-wrapper">
                  <a href="{{ links.-509a35d1 }}" target="_blank" class="text-style-allcaps">{{ texts.-bd2c9ad }}</a>
                  <div class="footer_link-decoration"></div>
                  <div class="footer_link-blur"></div>
                </div>
                <div data-w-id="f46266c7-0be4-55cd-4721-7414e8efa599" class="footer_link-wrapper">
                  <a href="{{ links.7048947f }}" target="_blank" class="text-style-allcaps">{{ texts.75db80fe }}</a>
                  <div class="footer_link-decoration"></div>
                  <div class="footer_link-blur"></div>
                </div>
                <div data-w-id="f46266c7-0be4-55cd-4721-7414e8efa599" class="footer_link-wrapper">
                  <a href="{{ links.-31c2f0bb }}" target="_blank" class="text-style-allcaps">{{ texts.-582ee86e }}</a>
                  <div class="footer_link-decoration"></div>
                  <div class="footer_link-blur"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>