<nav id="menutrigger" class="nav_component">
      <div class="padding-global">
        <div class="container-large">
          <div data-w-id="256717ef-5b76-2a7e-435d-cb424edfdec3" class="padding-navbar">
            <div class="nav_flex-wrapper">
              <div class="nav_left">
                <a data-w-id="256717ef-5b76-2a7e-435d-cb424edfdec6" href="{{ links.7de696e0 }}" aria-current="page" class="home-logo-wrapper w-inline-block w--current"><img src="{{ images.7de28169.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;43vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;40.5px&quot;}]" alt="{{ images.7de28169.alt | trim | escape }}" class="home-logo-decoration"><img src="{{ images.3b5e1f2.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:479,&quot;size&quot;:&quot;24vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;22.27083396911621px&quot;}]" alt="{{ images.3b5e1f2.alt | trim | escape }}" class="home-logo"></a>
              </div>
              <div class="nav_right">
                <div hoverstagger="link" class="nav_link-wrapper">
                  <a hoverstagger="text" href="{{ links.-4e5f23ad }}" class="nav_link">{{ texts.50c8e507 }}</a>
                  <a hoverstagger="text" href="{{ links.-4e5f23ad }}" class="nav_link is-2">{{ texts.50c8e507 }}</a>
                </div>
                <div hoverstagger="link" class="nav_link-wrapper">
                  <a hoverstagger="text" href="{{ links.2c6525c7 }}" class="nav_link">{{ texts.4b4273e7 }}</a>
                  <a hoverstagger="text" href="{{ links.2c6525c7 }}" class="nav_link is-2">{{ texts.4b4273e7 }}</a>
                </div>
                <div hoverstagger="link" class="nav_link-wrapper">
                  <a hoverstagger="text" href="{{ links.-3384cb4 }}" class="nav_link">{{ texts.-64104400 }}</a>
                  <a hoverstagger="text" href="{{ links.-3384cb4 }}" class="nav_link is-2">{{ texts.-64104400 }}</a>
                </div>
                <div class="nav_blank"></div>
                <div data-w-id="99aae8ab-b889-e41f-bc28-13e281290cb5" class="nav_language-wrapper">
                  <a href="{{ links.7de696e0 }}" aria-current="page" class="nav-language-fr w-inline-block w--current"><img src="{{ images.-fb6e90.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:767,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;18px&quot;}]" alt="{{ images.-fb6e90.alt | trim | escape }}" class="nav-flag"></a>
                  <a href="{{ links.2f }}" class="nav-language-uk w-inline-block"><img src="{{ images.2bf44ff6.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;100vw&quot;}]" alt="{{ images.2bf44ff6.alt | trim | escape }}" class="nav-flag"></a>
                </div>
                <a data-w-id="8f942781-5667-4937-094e-d76fdeeb6ade" href="{{ links.23 }}" class="nav_mobile-button-wrapper w-inline-block"><img src="{{ images.-4a4cbae0.url }}" loading="lazy" alt="{{ images.-4a4cbae0.alt | trim | escape }}" class="nav_mobile-button">
                  <div class="nav_mobile-button-blur-left"></div>
                  <div class="nav_mobile-button-decoration-left"></div>
                  <div class="nav_mobile-button-blur-right"></div>
                  <div class="nav_mobile-button-decoration-right"></div>
                </a>
              </div>
            </div>
            <div class="nav_mobile-wrapper">
              <div class="nav_mobile-top">
                <div class="nav_close-button-wrapper"><img src="{{ images.5f47e0b7.url }}" loading="lazy" data-w-id="fcb8ccc3-f4d9-0401-2773-ade0e76446d9" alt="{{ images.5f47e0b7.alt | trim | escape }}" class="nav_close-button">
                  <div data-w-id="1ebeda6c-2ee7-d8c2-20b2-601d6f5b0dbd" class="mobile_language-wrapper"><img src="{{ images.-fb6e90.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;100vw&quot;}]" alt="{{ images.-fb6e90.alt | trim | escape }}" class="fake-nav-flag">
                    <a href="{{ links.7de696e0 }}" aria-current="page" class="nav-mobile-fr w-inline-block w--current"><img src="{{ images.-fb6e90.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;100vw&quot;}]" alt="{{ images.-fb6e90.alt | trim | escape }}" class="nav-flag"></a>
                    <a href="{{ links.2f }}" class="project-mobile-uk w-inline-block"><img src="{{ images.2bf44ff6.url }}" loading="lazy" data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;100vw&quot;}]" alt="{{ images.2bf44ff6.alt | trim | escape }}" class="nav-flag"></a>
                  </div>
                </div>
                <div class="nav_mobile-menu">
                  <div hoverstagger="link" class="nav_mobile-link-wrapper">
                    <a hoverstagger="text" href="{{ links.7de696e0 }}" aria-current="page" class="nav_link mobile w--current">{{ texts.-1b5e6c6c }}</a>
                    <a hoverstagger="text" href="{{ links.7de696e0 }}" aria-current="page" class="nav_link mobile is-2 w--current">{{ texts.-1b5e6c6c }}</a>
                  </div>
                  <div hoverstagger="link" class="nav_mobile-link-wrapper">
                    <a hoverstagger="text" href="{{ links.-4e5f23ad }}" class="nav_link mobile">{{ texts.185bd907 }}</a>
                    <a hoverstagger="text" href="{{ links.-4e5f23ad }}" class="nav_link mobile is-2">{{ texts.185bd907 }}</a>
                  </div>
                  <div hoverstagger="link" class="nav_mobile-link-wrapper">
                    <a hoverstagger="text" href="{{ links.2c6525c7 }}" class="nav_link mobile">{{ texts.12d56807 }}</a>
                    <a hoverstagger="text" href="{{ links.2c6525c7 }}" class="nav_link mobile is-2">{{ texts.12d56807 }}</a>
                  </div>
                  <div hoverstagger="link" class="nav_mobile-link-wrapper">
                    <a hoverstagger="text" href="{{ links.-3384cb4 }}" class="nav_link mobile">{{ texts.6382b000 }}</a>
                    <a hoverstagger="text" href="{{ links.-3384cb4 }}" class="nav_link mobile is-2">{{ texts.6382b000 }}</a>
                  </div>
                </div>
              </div>
              <div class="nav_mobile-bottom">
                <div class="nav_mobile-socials">
                  <div data-w-id="f46266c7-0be4-55cd-4721-7414e8efa599" class="footer_link-wrapper">
                    <a href="{{ links.21dd6bd3 }}" target="_blank" class="text-style-allcaps">{{ texts.3f0537c }}</a>
                    <div class="footer_link-decoration"></div>
                    <div class="footer_link-blur"></div>
                  </div>
                  <div data-w-id="f46266c7-0be4-55cd-4721-7414e8efa599" class="footer_link-wrapper">
                    <a href="{{ links.-509a35d1 }}" target="_blank" class="text-style-allcaps">{{ texts.-bd2c9ad }}</a>
                    <div class="footer_link-decoration"></div>
                    <div class="footer_link-blur"></div>
                  </div>
                  <div data-w-id="f46266c7-0be4-55cd-4721-7414e8efa599" class="footer_link-wrapper">
                    <a href="{{ links.7048947f }}" target="_blank" class="text-style-allcaps">{{ texts.75db80fe }}</a>
                    <div class="footer_link-decoration"></div>
                    <div class="footer_link-blur"></div>
                  </div>
                  <div data-w-id="f46266c7-0be4-55cd-4721-7414e8efa599" class="footer_link-wrapper">
                    <a href="{{ links.-31c2f0bb }}" target="_blank" class="text-style-allcaps">{{ texts.-582ee86e }}</a>
                    <div class="footer_link-decoration"></div>
                    <div class="footer_link-blur"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="nav_mobile-bg-decoration"></div>
          </div>
        </div>
      </div>
    </nav>